@{
    ViewBag.Title = "Create";
}
<script>
    System.defaultJSExtensions = true;
    System.config({
        baseURL: '/Scripts/node_modules/'
    });
    System.import("/Scripts/App/movie_create");
</script>
<h2>Edit</h2>

<movie-create></movie-create>