@model MDB.Models.Movie

@{
    ViewBag.Title = "Edit";
}
<script>
    System.defaultJSExtensions = true;
    System.config({
        baseURL: '/Scripts/node_modules/'
    });
    System.import("/Scripts/App/movie_edit");
</script>
<h2>Edit</h2>

<movie-edit movie-id="@Model.MovieID"></movie-edit>